.intro{
  font-weight: bolder;
  color:crimson;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.center{
  font-weight: lighter;
  color: blueviolet;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}